# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.map
TrueSTUDIO/USB_CAN_CONVERTER_BASIC/Debug/USB_CAN_CONVERTER_BASIC.elf.list
TrueSTUDIO/USB_CAN_CONVERTER_BASIC/.settings/com.atollic.truestudio.debug.hardware_device.prefs
TrueSTUDIO/USB_CAN_CONVERTER_BASIC/.settings/language.settings.xml
.mxproject
TrueSTUDIO/USB_CAN_CONVERTER_BASIC/.settings/language.settings.xml
/Debug
